@page "/about"
@attribute [Authorize]

<MudContainer MaxWidth="MaxWidth.Medium">
    <MudPaper Elevation="3" Class="pa-1 my-3 rounded-md">
        About Us

        <AuthorizeView Roles="Admin">
            <Authorized>
                <span>You're authorized as @context.User.Identity.Name</span>
            </Authorized>
            <NotAuthorized>
                <span>You're not an admin, buddy.</span>
            </NotAuthorized>
        </AuthorizeView>
    </MudPaper>
</MudContainer>

@code {
    private LoginModel model = new();
}