@page "/logout"

<MudContainer MaxWidth="MaxWidth.Medium">
    <MudPaper Elevation="3" Class="pa-3 my-3 rounded-md">
        <h3>You've successfully been logged out!</h3>
        <p>Have a good day!</p>
    </MudPaper>
</MudContainer>
