@namespace PizzaApp.Components

<div class="footer_area pt-3" style="@($"color:{ThemeService.Theme.Palette.White}; background:{ThemeService.Theme.PaletteDark.Dark};")">
    <MudContainer MaxWidth="MaxWidth.False">
        <MudGrid Class="pa-3">
            <MudItem md="4" sm="12" xs="12" Class="d-flex justify-center flex-grow-1 gap-4">
                footer 1
                @*TODO - dynamic url list populate by backend*@
            </MudItem>
            <MudItem md="4" sm="12" xs="12" Class="d-flex justify-center flex-grow-1 gap-4">
                footer 2
            </MudItem>
            <MudItem md="4" sm="12" xs="12" Class="d-flex justify-center flex-grow-1 gap-4">
                footer 3
            </MudItem>
        </MudGrid>
    </MudContainer>
</div>
