@namespace PizzaApp.Components

<div class="footer_area" style="@($"color:{Theme.Palette.White}; background:{Theme.Palette.Dark};")">
    <MudContainer MaxWidth="MaxWidth.False">
        <MudGrid Class="pa-3">
            <MudItem md="4" sm="12" xs="12">
                test
            </MudItem>
            <MudItem md="4" sm="12" xs="12">
                test
            </MudItem>
            <MudItem md="4" sm="12" xs="12">
                test
            </MudItem>
        </MudGrid>
    </MudContainer>
</div>
