@namespace PizzaApp.Components

<MudGrid>
    @if (IsLoading)
    {
        <MudItem xs="12" Class="pa-10 d-flex align-self-center justify-center">
            <MudProgressCircular Color="Color.Success" Indeterminate="true" />
        </MudItem>
    }
    else
    {
        <MudItem xs="12" Class="pa-3">
            <MudGrid>
                <MudItem xs="12" Class="d-flex align-self-center justify-center">
                    <h1>Account Info</h1>
                </MudItem>
            </MudGrid>

            <MudGrid>
                <MudItem xs="12">
                    <UploadProfilePicture Label="Profile Picture" ProfilePicture="@User.ProfilePicture" ReturnProfilePicture="SetProfilePicture" />
                </MudItem>
            </MudGrid>

            <MudGrid>
                <MudItem xs="12">
                    <EditFieldComponent TItem="string" Name="First Name" Value="User.FirstName" />
                </MudItem>
            </MudGrid>

            <MudGrid>
                <MudItem xs="12">
                    <EditFieldComponent TItem="string" Name="Last Name" Value="User.LastName" />
                </MudItem>
            </MudGrid>

            <MudGrid>
                <MudItem xs="12">
                    <EditFieldComponent TItem="string" Name="Last Name" Value="User.LastName" />
                </MudItem>
            </MudGrid>
        </MudItem>
    }
</MudGrid>

