@namespace PizzaApp.Components

<MudLayout>
    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.Medium">
            <MudPaper Elevation="3" Class="pa-1 my-3 rounded-md">
                <div class="d-flex align-self-center justify-center pb-3">
                    <MudProgressCircular Color="Color.Primary" Size="Size.Large" Indeterminate="true" />
                </div>
                <p class="d-flex justify-center">
                    <span class="ps-3 d-flex align-self-center">Loading...</span>
                </p>
            </MudPaper>
        </MudContainer>
    </MudMainContent>
</MudLayout>
